<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.file.mapper.PlFileMapper">

    <resultMap type="PlFile" id="PlFileResult">
        <result property="fileId" column="file_id"/>
        <result property="folderId" column="folder_id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileRealPath" column="file_real_path"/>
        <result property="fileUrlPath" column="file_url_path"/>
        <result property="fileExtension" column="file_extension"/>
        <result property="fileNameBefore" column="file_name_before"/>
        <result property="functionKey" column="function_key"/>
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="fileSize" column="file_size"/>
    </resultMap>

    <sql id="selectPlFileVo">
        select file_id,
               folder_id,
               file_name,
               file_real_path,
               file_url_path,
               file_extension,
               file_name_before,
               function_key,
               user_id,
               dept_id,
               status,
               del_flag,
               create_by,
               create_time,
               update_by,
               update_time,
               remark,
               file_size
        from pl_file
    </sql>

    <select id="selectPlFileList" parameterType="PlFile" resultMap="PlFileResult">
        <include refid="selectPlFileVo"/>
        <where>
            <if test="folderId != null  and folderId != ''">and folder_id = #{folderId}</if>
            <if test="fileName != null  and fileName != ''">and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileExtension != null  and fileExtension != ''">and file_extension = #{fileExtension}</if>
            <if test="fileNameBefore != null  and fileNameBefore != ''">and file_name_before = #{fileNameBefore}</if>
            <if test="functionKey != null  and functionKey != ''">and function_key = #{functionKey}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="fileSize != null  and fileSize != ''">and file_size = #{fileSize}</if>
        </where>
    </select>

    <select id="selectPlFileById" parameterType="String" resultMap="PlFileResult">
        <include refid="selectPlFileVo"/>
        where file_id = #{fileId}
    </select>

    <insert id="insertPlFile" parameterType="PlFile">
        insert into pl_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileRealPath != null">file_real_path,</if>
            <if test="fileUrlPath != null">file_url_path,</if>
            <if test="fileExtension != null">file_extension,</if>
            <if test="fileNameBefore != null">file_name_before,</if>
            <if test="functionKey != null">function_key,</if>
            <if test="userId != null">user_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="fileSize != null">file_size,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileRealPath != null">#{fileRealPath},</if>
            <if test="fileUrlPath != null">#{fileUrlPath},</if>
            <if test="fileExtension != null">#{fileExtension},</if>
            <if test="fileNameBefore != null">#{fileNameBefore},</if>
            <if test="functionKey != null">#{functionKey},</if>
            <if test="userId != null">#{userId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="fileSize != null">#{fileSize},</if>
        </trim>
    </insert>

    <update id="updatePlFile" parameterType="PlFile">
        update pl_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileRealPath != null">file_real_path = #{fileRealPath},</if>
            <if test="fileUrlPath != null">file_url_path = #{fileUrlPath},</if>
            <if test="fileExtension != null">file_extension = #{fileExtension},</if>
            <if test="fileNameBefore != null">file_name_before = #{fileNameBefore},</if>
            <if test="functionKey != null">function_key = #{functionKey},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deletePlFileById" parameterType="String">
        delete
        from pl_file
        where file_id = #{fileId}
    </delete>

    <delete id="deletePlFileByIds" parameterType="String">
        delete from pl_file where file_id in
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>